:root {
  --primary-color: #495E57;
  --primary-color2: #F4CE14;
  --sec-darkpink: #EE9972;
  --sec-lightpink: #FBDABB;
  --sec-wall: #EDEFEE;
  --sec-dark: #333333;
}

body {
  margin: 3rem 0;
  margin-bottom: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
/*///////////////////////////////////////////////////////////
                  font styles 
//////////////////////////////////////////////////////////////*/
.section-title {
  font-family: 'karla';
  font-size: 20px;
  font-weight: bolder;
}

.subtitle {
  font-family: 'Markazi Text';
  font-size: 40px;
  font-weight: normal;
}

.paragraph {
  font-family: 'karla';
  font-size: 16px;
  font-weight: normal;
}

.highlight {
  font-family: 'karla';
  font-size: 16px;
  font-weight: 500;
}

.card-title {
  font-family: 'karla';
  font-size: 18px;
  font-weight: bold;
}

.section-categories {
  font-family: 'karla';
  font-size: 16px;
  font-weight: bolder;
}

.homepage {
  font-family: 'karla';
  font-size: 18px;
  font-weight: 600;
}

.display-title {
  font-family: 'Markazi Text';
  font-size: 64px;
  font-weight: normal;
}

.btn {
  width: 200px;
  height: 60px;
  background-color: #F4CE14;
  border-radius: 16px;
  border: 2px solid black;
}
.review-text{
  font-family: 'karla';
  font-size: 14px;
  font-weight: bold;
}


/*///////////////////////////////////////////////////////////
                  header for desktop
//////////////////////////////////////////////////////////////*/
header {
  padding: 0 10rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  width: 100%;
  height: 60px;
  max-width: 1200px;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.text-link {
  color: inherit;
  text-decoration: inherit;
}
.navbar .menuIcon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar .closeIcon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/*///////////////////////////////////////////////////////////
                  hero section for desktop
//////////////////////////////////////////////////////////////*/
.hero {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--primary-color);
  width: 100%;
  height: 60vh;
  padding: 0;
}
.hero div:nth-child(1){
  height: fit-content;
  margin-top: 8vh;
}
.hero-content {
  padding-left: 21vw;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.hero .display-title {
  color: #F4CE14;
  width: max-content;
  padding-top: 3px;
}

.hero .subtitle {
  margin-top: 0;
  padding-top: 0;
  color: white;
  width: max-content;
}

.hero .intro {
  width: 200px;
  height: auto;
  margin-top: 1rem;
  color: white;
}

.hero button {
  margin-left: 21vw;
  margin-top: 2rem;
}

.hero-image {
  width: 20rem;
  height: 25rem;
  padding-left: 12.5vw;
  margin-top: 18vh;
}

/*///////////////////////////////////////////////////////////
                  weekly for desktop
//////////////////////////////////////////////////////////////*/
.weekly{
  margin-left: 21vw;
  margin-top: 8rem;
  height: auto;
  width:55%;
}
.card-place{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
#specials {
  width: max-content;
  margin-top: 2rem;
}

#weekly-header {
  display: flex;
}

#online-menu {
  margin-left: 32rem;
}
/*///////////////////////////////////////////////////////////
                   card for desktop
//////////////////////////////////////////////////////////////*/
.card{
  background-color: #EDEFEE;
  width: 25rem;
  height: 30rem;
  margin:1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card img{
  border: 2px solid black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card h2:last-child{
  color: #EE9972;
}
.card p:nth-last-child(2){
  color: #495E57;
  padding: 0 1rem;
  margin: 0;
}
.card p:nth-last-child(1){
  color: #495E57;
  padding-left: 1rem;
  margin-top: 2px;
}
#card-para{
  height: 30%;
}
.card-heading{
width: max-content;
margin: 1rem;
}
.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*///////////////////////////////////////////////////////////
                  testimonials for desktop
//////////////////////////////////////////////////////////////*/
.testimonials{
  width: 100%;
  height: 35rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials h1{
  color: #F4CE14;
  padding-top: 5%;
}

#rating{
  margin-top: 4%;
  width: 60%;
  height: 30%;
  display: flex;
  flex-direction: row;
}
.reviews{
  background-color:var(--sec-darkpink);
  width: 23%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.reviews p{
  padding-left: 7%;
}
.rewiews p:nth-last-child(1){
  width: 100%;
  height: 20%;
}
.user-pic{
  width: 50%;
  height:100%;
  border: 1px solid black;
}
.user-pic > img{
width: 100%;
height: 100%;
}
.rating-profile{
width:100%;
height:40%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}
/*///////////////////////////////////////////////////////////
                  about for desktop
//////////////////////////////////////////////////////////////*/
.about{
  height: max-content;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
.about p{
  padding-left: 20vw;
}
.about p:nth-child(1){
  margin-top: 5%;
  margin-bottom: 0;
  color: #F4CE14;
}
.about p:nth-child(2){
  margin-top: 0;
  padding-top: 0;
  color: #495E57;
}
.about p:nth-child(3){
 /* background-color: #F4CE14;*/
 color: #333333;
}
.images{
  width:70% ;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.owner-image2{
  width: 19%;
  height:45%;
  margin-left:6%;
  margin-top: 11%;
  position: absolute;
  background-image: url(images/Mario\ and\ Adrian\ A.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.owner-image1{
  position: relative;
  margin-left: 45%;
  margin-top: 10%;
  width: 50rem;
  height:20rem;
  background-image: url(images/Mario\ and\ Adrian\ b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*///////////////////////////////////////////////////////////
                   footer for desktop
//////////////////////////////////////////////////////////////*/
.footer{
  width: 100%;
  height: 60vh;
  background-color: #EDEFEE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer img{
  margin-top: 0;
}
.footer div{
  height: 80%;
  display: flexbox;
  flex-direction: row;
  align-items: center;
}
.footer-content{
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;

}
.footer-content h6{
  color: #495E57;
}
.footer ul{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  color: var(--sec-darkpink);
}
/*///////////////////////////////////////////////////////////
                   signup form for desktop
//////////////////////////////////////////////////////////////*/
.signup-form{
  width: 70vw;
  height: 90vh;
  padding-bottom: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
  background-color: var(--primary-color);
  display: grid;
  justify-content: center;
  align-items: center;
}
form div{
  display: flex;
  justify-content: space-between;
  padding-top: 7%;
}
form h1{
  margin-left: 25%;
  color: #F4CE14;
}
.form-button button{
  margin-left: 7%;
}
form input{
  width: 60%;
  border: 2px solid black ;
  height: 2rem;
}
form label,p{
  color: var(--sec-wall);
}
form div:nth-last-child(1){
  align-self: center;
  margin-left:25% ;
}
.gray{
  background-color: gray;
  width: 200px;
  height: 60px;
  border-radius: 16px;
  border: 2px solid black;
}
#signup-button:hover{
background-color: #333333;
color:#F4CE14;
}
/*///////////////////////////////////////////////////////////
                   order card for desktop
//////////////////////////////////////////////////////////////*/

.order-card{
  height:21rem;
  width: 15rem;
  padding: 0;
  box-sizing: border-box;
  display: block;
  position: relative;
  border: 2px solid black;
  margin: 2%;
}
.selected{
background-color: var(--sec-darkpink);
}

.order-card img{
  width: 100%;
  height: 50%;
  display: block;
}
.order-card .order-details{
  box-sizing: border-box;
  margin-left: 0em;
  width: 100%;
  padding-left: 0;
  position: absolute;
  right: 0em;
  display: flex;
  padding-top: 6px;
}
.order-card div > h1{
  padding-left: 0em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
  padding-top: 0em;
  color: #333333;
}
.order-button{
  width: 100%;
  height: 30%;
  position: absolute;
  top: 13em;
  right: 0em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
}
.order-button input{
  width: 5rem;
  height: 7rem;
}
.order-button label{
  width: 5rem;
  height: 7rem;
  color:#333333;
}
.add{
  width: 30%;
  height: 30%;
}
/*///////////////////////////////////////////////////////////
                   order online page for desktop
//////////////////////////////////////////////////////////////*/
.order-form{
  background-color: var(--primary-color);
  height: fit-content;
  margin-bottom: 3rem;
  padding-bottom: 5rem;
}
.order-form h1{
color: #F4CE14;
padding: 2%;
}
.dishes-display{
  background-color: var(--sec-wall);
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr  1fr;
  justify-content: space-between;
  padding: 3%;
  margin-bottom: 3%;
}
.next{
  background-color: #F4CE14 ;
  margin-left: 40%;
  margin-top: 1%;
  margin-bottom: 1%;
  color:#333333;
}
.next:hover{
background-color: #333333;
color: #F4CE14;
}
.display-order{
  background-color:var(--sec-wall);
  width: 95%;
  margin:2rem;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  padding-bottom: 1%;
}
.display-order h1{
  width: fit-content;
  margin-left: 5%;
  margin-right: 5%;
  color: #333333;
  padding-bottom: 2%;
}
.personal-details h1{
  color: #333333;
}
.personal-details div{
  display: flex;
  margin-left: 2%;
  margin-top: 2%;
  padding: 2% 0%;
}
.personal-details label{
  width: 15%;
  padding-left: 3%;
}
.personal-details{
  background-color: var(--sec-wall);
  width: 95%;
  margin: 2rem;
  height: fit-content;
  padding-bottom: 2%;
  border:2px solid black;
}
.personal-details h1{
  margin-left: 2%;
}
.personal-details input{
  width: 35%;
  height: 20%;
  padding: 1%;
  margin: 0 1rem;
}
#address{
  width: 40%;
}
.order{
  margin-left: 40%;
}
.order:hover{
  background-color: #333333;
  color: #F4CE14;
}
/*///////////////////////////////////////////////////////////
                   Table Reserve page for desktop
//////////////////////////////////////////////////////////////*/
.table-form{
  background-color: var(--primary-color);
  width: 65vw;
  height: fit-content;
  margin: 3% 20%;
  padding: 2% 0%;
  display: grid;
  grid-template-columns: 1fr;
}
.table-form label{
  color: #333333;
  width: 75%;
}
.table-form .personal-details input{
  width: 45%;
  height: 100%;
  margin-left: 0%;
}
.table-form .personal-details div{
  width: 50vw;
  margin-top: 4%;
  margin-left: 4rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: start;
  align-items: center;
}
.select{
  width: 15vw;
  height: 7vh;
  margin-left: 0%;
  padding: 0%;
}
#radio{
  display: flex;
  width: fit-content;
  align-items: center;
  }
  #radio label{
    padding-left: 0;
  }
.table-form input[type=radio] {
  border: 0px;
  width: 100%;
  height: 2em;
}
#event{
  margin-left: 3%;
}
#radio label{
  width: fit-content;
  margin-right: 3rem;
  padding-left: 3rem;
  margin-left: 0;
}
#radio input{
  margin-left: 3vw;
  padding-left: 2rem;
  size: 6px;
}

.table-form .personal-details{
  display: grid;
  padding: 2% 0%;
}
.table-form h2{
  margin-left: 3%;
  color: #F4CE14;
}
.table-form p{
  margin-left: 3%;
}
.table-form h1{
  margin: 0% 25%;
  padding-top: 2%;
  color: #F4CE14;
}
.table-form .btn{
  margin-left: 40%;
}
.table-form .btn:hover{
  background-color: #333333;
  color: #F4CE14;
}
.instructions input{
  width: 50%;
  height: 15vh;
}






@media(max-width:82rem){
  .weekly{
    width: 65vw;
  }
  .owner-image2{
    width: 10rem;
    height: 08rem;
    margin-top: 20%;
    margin-left: 16%;
  }
  .owner-image1{
    width: 10rem;
    height: 08rem;
    margin-left: 35%;
    position: relative;
  }
  .about{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
  }
  .about .images{
   position: absolute;
   right: 2em;
   top: 2em;
   margin-top: 0;
   padding-top: 0;
   margin-left: 5rem;
   height: 40vh;
  }
  .about p{
    padding-left: 1rem;
    max-width: fit-content;
  }
  .about p:nth-child(3){
    font-size: 16px;
    margin-top: 18vh;
  }  
.order-form{
  background-color: var(--primary-color);
  height: fit-content;
}
.dishes-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}
.personal-details input{
  width: 30%;
}
#address{
  width: 50%;

}
.table-form{
  width: 80vw;
  margin: 2% 10%;
}
.table-form h1{
  margin: 0% 13% ;
}
.table-form .personal-details{
  margin: 0% 2%;
}
.table-form .btn{
  margin-top: 2%;
}
.personal-details label{
  width: 30%;
}
.personal-details input{
width: 30%;
}
.instructions input{
  width: 55%;
}
.table-form .personal-details input{

  width: 70%;
}
.table-form .personal-details label{
 
  width: 70%;
}
}


/*///////////////////////////////////////////////////////////
                   for medium screens
//////////////////////////////////////////////////////////////*/
@media(max-width:62rem) {
  body {
    margin: 2rem 1rem;
  }

  header {
    margin: 0;
    padding: 0;
  }

  .navbar .closeIcon {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar .navList {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    height: 60vh;
    padding: 2rem 0;
    display: none;
    flex-direction: column;
    background-color: brown;
  }

  .active .navList {
    display: flex;
  }

  .active .navbar .menuIcon {
    display: none;
  }

  .active .closeIcon {
    display: block;
  }

  .navbar ul li {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
  }

  .navbar {
    margin: 0;
    padding: 0;
  }

  .navbar img {
    width: 10rem;
    padding-left: 1rem;
  }

  .navbar .menuIcon {
    display: block;
    padding-right: 1rem;
    font-size: 3rem;
    border: 4px solid black;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero .hero-content {
    padding-left: 2vw;
  }

  .hero .btn {
    margin-left: 2vw;
  }

  .hero .hero-image {
    height: fit-content;
    max-height: 25rem;
    width: fit-content;
    max-width: 35vw;
    margin-top: 20vh;
  }
  .weekly{
    width: 90%;
    margin-left: 2vw;
    margin-top: 8rem;
  }
  #online-menu {
    margin: 0;
  }

  #weekly-header {
    justify-content: space-between;
  }
  .card-place{
overflow-x: scroll;
overflow-y: hidden;
  }
  #rating{
    width: 80%;
    height: 35%;
  }
  .testimonials{
    margin-top: 3rem;
  }
  #rating{
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .reviews{
    padding-top: 0;
    margin-top: 0;
    width: 50%;
    max-width:15rem ;
    height: 11rem;
  }
  .testimonials h1{
    padding-top: 2px;
    margin-top: 4px;
  }
  .about{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    margin-right: 0;

  }
  .about p{
    padding-left: 0;
    height: auto;
  }
  .about p:nth-child(3){
    font-size: 16px;
    margin-top: 45%;
  }
  .about .images{
    position: absolute;
    right: 3em;
    top: 4em;
    margin-top: 0;
    padding-top: 0;
    margin-left: 5rem;
    height: 40vh;
   }
   .owner-image2{
    width: 40%;
    height: 70%;
    margin-top: 30%;
    margin-left: 08%;
  }
  .owner-image1{
    width: 40%;
    height: 75%;
    margin-left: 35%;
    position: relative;
  }
  .footer-content{
    display: flex;
    justify-content: space-around;
    padding: 0 9px;
    margin: 0 9px;
    width:90% ;
  }
  .footer-content div{
    margin: 0 9px;
  }
  .footer-content ul{
    font-size: 14px;
  }
  .order-details h1{
  display: flex;
  justify-content: space-around;
  }
  .order-form{
    background-color:aqua;
    height:fit-content;
    margin-bottom: 3rem;
  }
  .dishes-display{
    height: 120rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .dishes-display{
    margin-left: 0;
  }
  .personal-details input{
    width: 30%;
  }
  #address{
    width: 50%;
  }

}

/*///////////////////////////////////////////////////////////
                  for tablets and phone
//////////////////////////////////////////////////////////////*/
@media (max-width:600px) {
  .hero .hero-image {
    width: 35vw;
    max-width: 15vw;
    height: fit-content;
    padding-left: 0;
  }
  .weekly{
    margin-left: 3vw;
    margin-top: 5rem;
  }
  #online-menu {
    margin: 0;
  }

  #weekly-header {
    justify-content: space-between;
  }
  .card-place{
    padding-left: 0;
  }
  .testimonials{
    margin-top: 3rem;
  }
  .testimonials h1{
    padding-top: 2px;
    margin-top: 0;
  }
  #rating{
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .reviews{
    padding-top: 0;
    margin-top: 0;
    width: 60%;
    height: 11rem;
  }
  .owner-image2{
    width: 10rem;
    height: 08rem;
    margin-top: 6rem;
    margin-left: 4rem;
  }
  .owner-image1{
    width: 10rem;
    height: 08rem;
    margin-left: 9rem;
    position: relative;
  }
  .about{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
  }
  .about .images{
   position: absolute;
   right: 2em;
   top: 4em;
   margin-top: 0;
   padding-top: 0;
   margin-left: 5rem;
   height: 40vh;
  }
  .about p{
    padding-left: 1rem;
    max-width: fit-content;
  }
  .about p:nth-child(3){
    font-size: 16px;
    margin-top: 12vh;
  }
  .footer-content h6{
    font-size: 15px;
  }
  .footer-content ul{
    font-size: 12px;
  }
  .footer-content{
    margin-left: 0;
    padding-left: 0;
    width: 60%;
   }
.footer{
  display: flex;
  padding-left: 0px;
  margin-left: 2px;
  justify-content:flex-end;  
  position: relative;
}
.footer-content >img{
  position: absolute;
  left: 1em;
  top: 3em;
}
.footer-content div{
margin: 2px 9px;
padding: 0;
}
.order-form{
height: fit-content;
}
.personal-details input{
  width: 30%;
}
.personal-details{
  margin: 2rem;
}
}
@media (max-width:55rem) {
  .order-form{
    height: fit-content;
  }
  .dishes-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: max-content;
  }
  .next{
    margin-left: 30%;
  }
  .display-order{
    margin-left: 8px;
  }
  .personal-details input{
    width: 40%;
  }
  #address{
    width: 60%;
  }
  .personal-details{
    width: 90%;
    margin-right: 3%;
  }
  .table-form{
    margin: 2% 0%;
    width: 93vw;
  }
  .table-form h1{
    width: fit-content;
    padding: 2% 0%;
    font-size: 55px;
  }
  .table-form .btn{
   margin-left: 30%;
  }
  .select{
    width: 45%;
  }
  .instructions input{
    width: 60%;
  }
  .about p:nth-child(3){
    margin-top: 50%;
  }
  .table-form .personal-details div{
    width: 80vw;
    margin-left: 2%;
  }
  .table-form .personal-details input{
    width: 85%;
  }
  .table-form .personal-details label{
    width: 95%;
  }
  .table-form #radio label{
    margin-left: 0;
    padding-left: 0;
  }
}